<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/common/browser/css/theme.css">
    </head>
    <body>

            <div id="template" component="template">
                    加载中......
            </div>

    </body>
    <script>
        var path = location.pathname;
        var component_name=path.substring(path.indexOf('components/')+11,path.lastIndexOf('/browser'));
        document.getElementById('template').setAttribute('component',component_name);
    </script>
    <script data-main='/common/browser/js/component-loader.js' src="/common/browser/js/require.js"></script>
</html>